* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --seaweed-font: "Seaweed Script", cursive;
  --rubik: "Rubik Wet Paint", system-ui;
  --poppins: "Poppins", sans-serif;
  --mt: 50px;
  --fontsize: 20px;
}

body {
  font-family: var(--poppins);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  @media screen and (max-width: 1180px) {
    padding: 0 20px;
  }
}

section {
  .heading-c-banner {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 575px) {
      max-width: 220px;
    }
    img {
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
    h2 {
      position: absolute;
      display: inline-block;
      font-family: var(--poppins);
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      @media screen and (max-width: 575px) {
        font-size: 16px;
      }
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }
  }
  .extra-mt {
    max-width: 100%;
    width: 100%;
    margin-top: var(--mt);
    position: relative;
    &::before {
      content: "";
      background-image: url(../img/line.svg);
      background-size: 100%;
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0;
    }
    img {
      @media screen and (max-width: 767px) {
        width: 15%;
      }
    }
  }
}

.c-hero {
  width: 100%;
  height: 100dvh;
  background-image: url(../img/bg/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .c-hero-wrapper {
    @media screen and (max-width: 575px) {
      height: 430px;
      position: relative;
    }
    @media screen and (max-width: (480px)) {
      height: auto;
    }
    .bg-img {
      position: relative;
      @media screen and (max-width: 575px) {
        position: static;
      }
      img {
        display: block;
        margin: 0 auto;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        @media screen and (min-width: 481px) {
          display: block;
        }
        @media screen and (max-width: (480px)) {
          display: none;
        }
      }
      .ruthless-seo-mb {
        @media screen and (min-width: 481px) {
          display: none;
        }
        @media screen and (max-width: (480px)) {
          display: block;
          width: 75%;
          height: 100%;
          object-fit: contain;
          position: relative;
          z-index: 1;
        }
        @media screen and (max-width: (450px)) {
          width: 100%;
        }
      }
      .text-h {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 960px) {
          bottom: 200px;
        }
        @media screen and (max-width: 850px) {
          bottom: 180px;
        }
        @media screen and (max-width: 800px) {
          bottom: 150px;
        }
        @media screen and (max-width: 650px) {
          bottom: 110px;
        }
        @media screen and (max-width: 600px) {
          bottom: 100px;
        }
        @media screen and (max-width: 575px) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, 25%);
          bottom: unset;
        }
        @media screen and (max-width: 480px) {
          transform: translate(-50%, -30%);
          z-index: 2;
        }

        .heading-h {
          background: linear-gradient(1deg, #890073, #eb2582);
          padding: 6px 40px;
          border-radius: 8px;
          @media screen and (max-width: 480px) {
            padding: 6px 25px;
          }
          h1 {
            font-family: var(--rubik);
            color: #ebff00;
            font-size: 50px;
            text-shadow: 4px 4px 4px #000;
            @media screen and (max-width: 767px) {
              font-size: 32px;
            }
            @media screen and (max-width: 575px) {
              font-size: 24px;
            }
            @media screen and (max-width: 480px) {
              font-size: 16px;
            }
          }
        }
        span {
          display: block;
          font-size: 98px;
          line-height: 80px;
          font-family: var(--seaweed-font);
          color: white;
          text-shadow: 0px 4px 4px #ff00e6;
          margin-left: -20px;
          margin-bottom: -5px;
          @media screen and (max-width: 850px) {
            font-size: 75px;
            line-height: 80px;
          }
          @media screen and (max-width: 767px) {
            font-size: 42px;
            line-height: 40px;
          }
          @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 26px;
            margin-left: -10px;
          }
        }
      }
      .bg-ruthless {
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
        @media screen and (max-width: 1100px) {
          bottom: -65px;
        }
        @media screen and (max-width: 650px) {
          bottom: -78px;
        }
        @media screen and (max-width: 575px) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, 80%);
        }
      }
    }
  }
  .c-hero-btn {
    width: 100%;
    margin-top: 80px;
    @media screen and (max-width: 650px) {
      margin-top: 100px;
    }
    @media screen and (max-width: 575px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 500px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 0;
    }
    .c-btn-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      max-width: 550px;
      margin: 0 auto;

      .btn-cc {
        width: 236px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @media screen and (max-width: 575px) {
          width: 180px;
        }
        @media screen and (max-width: 480px) {
          width: 150px;
        }
        @media screen and (max-width: 400px) {
          width: 120px;
        }
        img {
          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
        span {
          position: absolute;
          display: inline-block;
          font-family: var(--poppins);
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          text-shadow: 2px 2px 0px #000;
          @media screen and (max-width: 575px) {
            font-size: 20px;
          }
          @media screen and (max-width: 480px) {
            font-size: 16px;
          }
          @media screen and (max-width: 400px) {
            font-size: 14px;
          }
        }
      }
      .arrow-img {
        position: absolute;
        right: -40px;
        top: -128px;
        @media screen and (max-width: 767px) {
          right: 0;
          top: -96px;
          width: 171px;
          height: 165px;
        }
        @media screen and (max-width: 650px) {
          right: 25px;
          top: -96px;
          width: 124px;
          height: 165px;
        }
        @media screen and (max-width: 650px) {
          right: 59px;
          top: -84px;
          width: 105px;
          height: 148px;
        }
        @media screen and (max-width: 575px) {
          right: 75px;
          top: -90px;
        }
        @media screen and (max-width: 520px) {
          right: 65px;
        }
        @media screen and (max-width: 500px) {
          right: 44px;
          top: -90px;
        }
        @media screen and (max-width: 480px) {
          right: 78px;
          top: -90px;
          height: 142px;
          width: 60px;
          top: -126px;
          height: 185px;
        }
        @media screen and (max-width: 420px) {
          right: 57px;
        }
        @media screen and (max-width: 380px) {
          right: 65px;
          width: 57px;
        }
        @media screen and (max-width: 355px) {
          right: 45px;
          width: 57px;
        }
      }
    }
  }
}

.section-wrapper {
  background-image: url(../img/bg/offer.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .c-game {
    display: block;
    background-image: linear-gradient(45deg, #890073 0%, #890073 100%);
    padding: 43px 0;
    margin-top: 0;

    .game-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 65px;
      .c-game-item {
        width: calc(16.6666% - 54.1666px);
        display: flex;
        align-items: center;
        @media screen and (max-width: 1200px) {
          width: calc(20% - 54.1666px);
        }
        @media screen and (max-width: 991px) {
          width: calc(25% - 54.1666px);
          justify-content: center;
        }
        @media screen and (max-width: 767px) {
          width: calc(33.3333% - 20px);
        }
        img {
          @media screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 1200px) {
        justify-content: left;
      }
      @media screen and (max-width: 767px) {
        gap: 30px;
      }
    }
  }
  .what-we-offer {
    .what-we-wrapper {
      .what-h-banner {
        text-align: center;
        position: relative;
        max-width: 372px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 480px) {
          max-width: 100%;
          height: 80px;
          margin: 40px 0;
        }
        img {
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }

        h2 {
          display: inline-flex;
          color: #ffff3c;
          position: absolute;
          font-size: var(--fontsize);
          line-height: 28px;
          font-family: var(--poppins);
          font-weight: bolder;
          text-transform: uppercase;
        }
      }
      .service-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        @media screen and (max-width: 991px) {
          gap: 30px;
        }
        @media screen and (max-width: 700px) {
          gap: 10px;
        }
        .c-service-items {
          flex-shrink: inherit;
          display: flex;
          justify-content: center;
          align-items: end;
          position: relative;
          text-align: center;
          @media screen and (max-width: 1200px) {
            width: calc(33.3333% - 33.3333px);
          }
          @media screen and (max-width: 991px) {
            width: calc(33.3333% - 20px);
          }
          @media screen and (max-width: 700px) {
            width: calc(50% - 20px);
          }
          @media screen and (max-width: 480px) {
            width: calc(50% - 10px);
          }
          img {
            @media screen and (max-width: 1200px) {
              width: 100%;
            }
          }
          .service-game {
            position: absolute;
            top: 50%;
            transform: translateY(-63%);
            @media screen and (max-width: 1200px) {
              width: 100px;
              height: 100px;
              object-fit: contain;
            }
            @media screen and (max-width: 1024px) {
              width: 70px;
              height: 70px;
            }
            @media screen and (max-width: 767px) {
              width: 50px;
              height: 50px;
            }
            @media screen and (max-width: 480px) {
              width: 40px;
              height: 40px;
            }
          }
          h4 {
            font-family: var(--poppins);
            font-size: var(--fontsize);
            line-height: 25px;
            font-weight: 600;
            color: #fff;
            position: absolute;
            width: 75%;
            bottom: 35px;
            height: 60px;
            display: block;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 1200px) {
              font-size: 16px;
              line-height: 20px;
              bottom: 30px;
              height: 44px;
            }
            @media screen and (max-width: 991px) {
              font-size: 13px;
              line-height: 16px;
              bottom: 30px;
              height: 33px;
            }
            @media screen and (max-width: 480px) {
              font-size: 10px;
              line-height: 14px;
              bottom: 20px;
              height: 23px;
              width: 90%;
            }
            @media screen and (max-width: 400px) {
              font-weight: 500;
              font-size: 8px;
              line-height: 10px;
              height: 20px;
              bottom: 12px;
            }
          }
        }
      }
    }
  }
}

.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--mt);
  @media screen and (max-width: 480px) {
    width: 150px;
    margin: 0 auto;
    margin-top: var(--mt);
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    span {
      position: absolute;
      display: inline-block;
      font-family: var(--poppins);
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}

.game-changer {
  background-image: url(../img/bg/game-changer.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 270px;
  margin-top: -11px;
  @media screen and (max-width: 991px) {
    padding-top: 190px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 110px;
  }
  @media screen and (max-width: 575px) {
    padding-top: 80px;
  }

  .game-changer-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1250px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .main-g-inner-bg {
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: 1250px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .mg-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @media screen and (min-width: 767px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
        margin-top: -217px;
      }
      @media screen and (max-width: 575px) {
        margin-top: -140px;
      }
      @media screen and (max-width: 480px) {
        margin-top: -120px;
      }
      @media screen and (max-width: 400px) {
        margin-top: -90px;
      }
      .main-g-inner-bg-mb {
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .mb-con-desc {
        position: absolute;
        color: #fff;
        text-align: justify;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        left: 50%;
        p {
          padding-bottom: 20px;
          @media screen and (max-width: 575px) {
            font-size: 12px;
          }
          @media screen and (max-width: 480px) {
            font-size: 10px;
          }
          @media screen and (max-width: 400px) {
            font-size: 8px;
          }
        }
      }
    }

    .g-chnager-heading {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: -103px;
      right: -30px;
      @media screen and (max-width: 1250px) {
        max-width: 63%;
        right: 0;
      }
      @media screen and (max-width: 991px) {
        width: 70%;
        top: -70px;
        right: 35px;
      }
      @media screen and (max-width: 767px) {
        position: static;
        max-width: 100%;
        width: 100%;
      }
      img {
        @media screen and (max-width: 1250px) {
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .text-g-banner-h {
        @media screen and (min-width: 767px) {
          display: none;
        }
        @media screen and (max-width: 767px) {
          display: block;
          width: 100%;
        }
      }
    }

    .mb-man-g {
      @media screen and (min-width: 767px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
      }
      @media screen and (max-width: 575px) {
        width: 70%;
      }
    }
    .game-changer-content {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 1250px) {
        padding: 0 20px;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        margin-top: -215px;
      }
      .item-g:first-child {
        @media screen and (max-width: 1250px) {
          width: 50%;
        }
        @media screen and (max-width: 991px) {
          width: 40%;
          height: 433px;
          margin-top: -165px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          margin-top: -445px;
        }
      }
      .game-c-content {
        position: relative;
        @media screen and (max-width: 1250px) {
          width: 50%;
        }
        @media screen and (max-width: 991px) {
          width: 60%;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        img {
          margin-top: 15px;
        }
        .content-bg-inner {
          @media screen and (max-width: 1250px) {
            width: 100%;
          }
          @media screen and (max-width: 991px) {
            height: 315px;
          }
          @media screen and (max-width: 900px) {
            height: 280px;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        .star {
          position: absolute;
          top: -61px;
          left: 50%;
          transform: translateX(-50%);
          @media screen and (max-width: 1250px) {
            top: -40px;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        .c-cn {
          position: absolute;
          top: 90px;
          padding: 0 59px;
          @media screen and (max-width: 1250px) {
            top: 50%;
            padding: 0 30px;
            transform: translateY(-50%);
          }
          @media screen and (max-width: 767px) {
            position: static;
            padding: 0 100px;
          }
          p {
            font-family: var(--poppins);
            font-weight: normal;
            color: white;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 20px;
            text-align: justify;
            @media screen and (max-width: 1250px) {
              font-size: 14px;
              line-height: 16px;
              padding-bottom: 12px;
            }
            @media screen and (max-width: 767px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .c-why-seomissiles {
    width: 100%;
    text-align: center;
    margin-top: 70px;

    .c-why-seomissiles-wrapper {
      .max-broad-b {
        max-width: 512px;
      }
      .c-why-seo-wrapper {
        margin-top: var(--mt);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        @media screen and (max-width: 575px) {
          gap: 0;
        }
        .c-why-seo-item {
          width: calc(33.333% - 20px);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: end;
          @media screen and (max-width: 767px) {
            width: calc(50% - 20px);
          }
          @media screen and (max-width: 400px) {
            width: 100%;
          }
          img {
            @media screen and (max-width: 1200px) {
              width: 100%;
            }
          }
          h5 {
            position: absolute;
            bottom: 26px;
            width: 60%;
            margin: 0 auto;
            display: inline-block;
            font-family: var(--poppins);
            font-size: 20px;
            line-height: 25px;
            font-weight: 600;
            text-transform: capitalize;
            color: #fff;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            @media screen and (max-width: 1200px) {
              font-size: 16px;
              line-height: 18px;
              bottom: 23px;
            }
            @media screen and (max-width: 991px) {
              font-size: 12px;
              line-height: 14px;
              bottom: 9%;
              height: 30px;
            }
            @media screen and (max-width: 575px) {
              width: 80%;
              bottom: 7%;
              font-weight: 400;
            }
            @media screen and (max-width: 575px) {
              bottom: 5%;
            }
            @media screen and (max-width: 400px) {
              bottom: 10%;
              font-size: 14px;
              line-height: 14px;
            }
            @media screen and (max-width: 400px) {
              bottom: 7%;
            }
          }
        }
        .emt {
          margin-top: 20px;
        }
      }
    }
  }
}

.pricing-plan {
  background-image: url(../img/bg/price.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 400px;
  margin-top: -2px;

  .pricing-plan-wrapper {
    margin-top: var(--mt);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
    @media screen and (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 auto;
      margin-top: 50px;
    }
    @media screen and (max-width: 991px) {
      gap: 0;
    }

    .pricing-plan-item {
      width: calc(33.3333% - 22.6666px);
      position: relative;
      @media screen and (max-width: 1200px) {
        height: 510px;
      }
      @media screen and (max-width: 991px) {
        width: calc(33.3333% - 7px);
      }
      @media screen and (max-width: 767px) {
        min-height: 600px;
      }
      @media screen and (max-width: 420px) {
        height: 460px;
        min-height: 460px;
      }
      img {
        width: 102%;
        object-fit: cover;
        @media screen and (max-width: 1200px) {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
        @media screen and (max-width: 420px) {
          width: 105%;
        }
      }
      .price-content {
        position: absolute;
        height: 99%;
        top: -1px;
        width: 98%;
        left: 2px;
        bottom: 0;
        @media screen and (max-width: 420px) {
          padding-right: 4px;
        }
        span {
          display: block;
          text-align: center;
          font-family: var(--poppins);
          font-size: 24px;
          line-height: 25px;
          font-weight: 800;
          text-transform: uppercase;
          color: #fff;
          background-image: linear-gradient(0deg, #2fb3f5 0%, #70cfff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          margin-top: 29px;
          @media screen and (max-width: 1200px) {
            font-size: 16px;
            line-height: 18px;
            margin-top: 25px;
          }
          @media screen and (max-width: 991px) {
            font-size: 14px;
            line-height: 16px;
          }
          @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 22px;
            margin-top: 28px;
          }
          @media screen and (max-width: 420px) {
            font-size: 16px;
            line-height: 22px;
            margin-top: 19px;
          }
        }
        .plan-header {
          display: flex;
          gap: 6px;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          height: 86px;
          @media screen and (max-width: 1200px) {
            height: 55px;
            margin-top: 8%;
          }
          @media screen and (max-width: 767px) {
            margin-top: 2%;
            height: 80px;
          }
          @media screen and (max-width: 480px) {
            margin-top: 4%;
          }
          @media screen and (max-width: 420px) {
            height: 55px;
          }
          .on-sale {
            span:first-child {
              font-size: 14px;
              display: block;
              color: white;
              font-weight: 400;
              text-transform: capitalize;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              margin-top: unset;
              @media screen and (max-width: 1200px) {
                font-size: 10px;
              }
            }
            span:last-child {
              font-size: 20px;
              display: block;
              color: white;
              font-weight: 600;
              text-transform: uppercase;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              margin-top: -5px;
              text-decoration: line-through;
              @media screen and (max-width: 1200px) {
                margin-top: -3px;
                font-size: 15px;
              }
            }
          }
          .on-price {
            span {
              font-size: 56px;
              display: block;
              color: white;
              font-weight: 600;
              text-transform: uppercase;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              margin-top: unset;
              @media screen and (max-width: 1200px) {
                font-size: 42px;
                line-height: 45px;
              }
              @media screen and (max-width: 991px) {
                font-size: 32px;
                line-height: 29px;
                margin-top: 3px;
              }
            }
          }
        }
        .price-desc {
          ul {
            font-size: 16px;
            line-height: 18px;
            margin-left: 30px;
            color: white;
            margin-top: 40px;
            @media screen and (max-width: 1200px) {
              font-size: 12px;
              line-height: 14px;
              margin-top: 25px;
              margin-left: 25px;
            }
            @media screen and (max-width: 991px) {
              font-size: 10px;
              line-height: 10px;
              margin-left: 10%;
            }
            @media screen and (max-width: 767px) {
              font-size: 15px;
              line-height: 17px;
              margin-left: 10%;
              margin-top: 4%;
            }
            @media screen and (max-width: 420px) {
              font-size: 13px;
              line-height: 14px;
              margin-left: 7%;
              margin-top: 10%;
            }
            @media screen and (max-width: 345px) {
              font-size: 12px;
              line-height: 13px;
              margin-left: 7%;
              margin-top: 10%;
            }
            li {
              list-style: none;
              display: flex;
              align-items: center;
              gap: 20px;
              padding-bottom: 10px;
              @media screen and (max-width: 420px) {
                padding-bottom: 4px;
              }
              &:before {
                content: url(../img/pricing/basic-svg-icon.svg);
                width: 10px;
                height: 10px;
                margin-top: -15px;
                @media screen and (max-width: 420px) {
                  width: 8px;
                  height: 8px;
                }
              }
            }
          }
        }
        .price-btn {
          text-decoration: none;
          position: absolute;
          bottom: 11px;
          left: 50%;
          transform: translateX(-48%);
          @media screen and (max-width: 1200px) {
            bottom: 3px;
            height: 25px;
            display: flex;
            align-items: center;
            transform: translateX(-50%);
          }
          span {
            color: white;
            font-size: 20px;
            line-height: 28px;
            font-weight: 800;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
            @media screen and (max-width: 1200px) {
              font-size: 14px;
              line-height: 16px;
              padding: 0;
              margin: 0;
            }
            @media screen and (max-width: 991px) {
              font-size: 11px;
            }
          }
        }
      }
      .standard-price-c {
        span {
          background-image: linear-gradient(0deg, #ff70df 0%, #f52fc9 100%);
        }

        .price-desc {
          ul {
            li {
              &:before {
                content: url(../img/pricing/standard-icon.svg);
              }
            }
          }
        }
      }
      .platinum-price-c {
        span {
          background-image: linear-gradient(0deg, #70ff88 0%, #2ff550 100%);
        }

        .price-desc {
          ul {
            li {
              &:before {
                content: url(../img/pricing/platinum-icon.svg);
              }
            }
          }
        }
      }
    }
  }
}

.portfolio {
  background-image: url(../img/bg/portfolio.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 320px;
  padding-bottom: 94px;
  .portfolio-wrapper {
    position: relative;
    margin-top: -580px;

    @media screen and (max-width: 767px) {
      margin-top: -480px;
    }
    @media screen and (max-width: 420px) {
      margin-top: -520px;
    }

    img {
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .portfolio-mb {
      @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        width: 111%;
        height: 500px;
        object-fit: cover;
        margin-left: -19px;
        border-radius: 0 12px 012px;
      }
      @media screen and (max-width: 400px) {
        height: 480px;
      }
    }
    .portfolio-slider-wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translateY(-50%);
      padding: 40px;
      @media screen and (max-width: 1200px) {
        padding: 30px;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 767px) {
        padding: 10px;
      }
      .portfolio-slider-item {
        @media screen and (max-width: 1200px) {
          width: 50%;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .portfolio-slider-item:first-child {
        margin-top: -180px;
        p {
          color: white;
          font-size: 16px;
          text-align: justify;
          margin-top: 20px;
          padding: 0 35px;
          @media screen and (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
          }
          @media screen and (max-width: 480px) {
            padding: 0;
          }
        }
        img {
          @media screen and (max-width: 767px) {
            width: 60%;
            display: block;
            object-fit: contain;
            margin: 0 auto;
            height: fit-content;
          }
          @media screen and (max-width: 480px) {
            width: 90%;
          }
        }
      }
      .portfolio-slick {
        position: relative;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @media screen and (max-width: 767px) {
            height: 350px;
            object-fit: contain;
          }
          @media screen and (max-width: 575px) {
            height: 250px;
          }
        }
        @media screen and (max-width: 767px) {
          margin-top: 40px;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .c-main-cta {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      margin-top: 45px;
    }
    img {
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .cta-mb-svg {
      @media screen and (min-width: 767px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
      }
      @media screen and (max-width: 480px) {
        height: 150px;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    .c-cta-content {
      position: absolute;
      top: 50%;
      transform: translateY(-27%);
      @media screen and (max-width: 767px) {
        transform: translateY(-50%);
      }
      @media screen and (max-width: 480px) {
        padding: 0 15px;
      }
      h3 {
        font-size: 30px;
        line-height: 36px;
        font-weight: bold;
        color: rgba(251, 251, 60, 0.98);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
        @media screen and (max-width: 575px) {
          font-size: 20px;
          line-height: 26px;
        }
      }
      p {
        font-size: 20px;
        line-height: 24px;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media screen and (max-width: 575px) {
          font-size: 15px;
          line-height: 18px;
        }
      }
      .cta {
        margin-top: 25px;
        @media screen and (max-width: 767px) {
          margin-top: 15px;
        }
        a {
          @media screen and (max-width: 767px) {
            max-width: 150px;
          }
          span {
            @media screen and (max-width: 767px) {
              font-size: 16px;
            }
          }
          img {
            display: block;
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}
